.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-title {
  font-size: 3em;
  color: black;
  font-style: normal;
  font-family: fantasy;
  background: goldenrod;
  border-radius: 25px;
  padding: 5px;
  width: 190px;
  height: 90px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("popcorn.jpg");
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: darkslategray;
  background-image: url("./popcorn.jpg");
}
.bgimg {
  background-image: url('./popcorn.jpg');
}

.form__button {
  border: solid 2px #2c3e50;
  background: palegoldenrod;
  padding: 0.2rem 0.9rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  margin: 0 0.2rem 0 0.7rem;
}

.form__input {
  background: transparent;
  border: 0;
  border-bottom: solid 2px #2c3e50;
  margin-right: 10px;
  letter-spacing: 2px;
  width: 10%;
  padding: 0.4rem;
}

.movie__box {
  background: transparent;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
  text-align: center;
  overflow: hidden;
}
.movie__text {
  margin-left: 15px;
}

.movie_buttons {
  border: solid 2px papayawhip;
  background: darkgoldenrod;
  padding: 0.4rem 0.6rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0.2rem 0 0.7rem;
}

.movie__title {
  color: black;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 1.8rem 0 0.2rem 0;
}

.movie__subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.active-movie__overview {
  background: papayawhip;
}

.active-movie__genres {
  color: black;

}

.react-dropdown {
  border: solid 2px #2c3e50;
  background: lightgoldenrodyellow;
  padding: 0.1rem 0.1rem;
  alignment: center;
  text-align: left;
  border-radius: 1px;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: 500;
}

.dropdown {
  align-items: center;
}
